
<div class="row">
  <div class="col-lg-12">
    <div class="row">
    <div class="col-lg-4"></div>
    <div class="col-lg-4"><form class="example-form">
      <mat-form-field class="example-full-width bg-primary" appearance="fill">
        <mat-label class="">User Name</mat-label>
    <!-- #docregion input -->
        <input type="text"
               placeholder="Pick one"
               aria-label="User Name"
               matInput
               [formControl]="myControl"
               [matAutocomplete]="auto">
    <!-- #enddocregion input -->
    <!-- #docregion mat-autocomplete -->
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let option of options" [value]="option">
            {{option}}
          </mat-option>
        </mat-autocomplete>
    <!-- #enddocregion mat-autocomplete -->
      </mat-form-field>
    </form></div>
    <div class="col-lg-4"></div>
    
  </div>
  </div>
  <div class="col-lg-12">
    <div class="row"> 
      <div class="column">
        <img src="https://source.unsplash.com/collection/582659/1" style="width:100%">
        <img src="https://source.unsplash.com/collection/582659/2" style="width:100%">
        
      </div>
      <div class="column">
        <img src="https://source.unsplash.com/collection/582659/5" style="width:100%">
        <img src="https://source.unsplash.com/collection/582659/6" style="width:100%">
    
      </div>  
      <div class="column">
        <img src="https://source.unsplash.com/collection/582659/9" style="width:100%">
        <img src="https://source.unsplash.com/collection/582659/10" style="width:100%">
      
      </div>
      <div class="column">
        <img src="https://source.unsplash.com/collection/582659/13" style="width:100%">
        <img src="https://source.unsplash.com/collection/582659/14" style="width:100%">
    
      </div>
     
    </div>
  </div>
</div>

  
  