



<div class="row p-3 mb-2 bg-secondary text-white" >
  <div class="col-lg-10 col-md-10">
    <h3>Welcome Gallery Profile </h3>
  </div>
  <div class="col-lg-2 col-md-2">
        <p *ngIf="isLoggedIn">Hi {{currentUser}}</p>
  </div>
</div>

<div class="row"> 
  <div class="column">
    <img src="https://source.unsplash.com/collection/582659/1" style="width:100%">
    <img src="https://source.unsplash.com/collection/582659/2" style="width:100%">
    <img src="https://source.unsplash.com/collection/582659/3" style="width:100%">
    <img src="https://source.unsplash.com/collection/582659/4" style="width:100%">
    <img src="https://source.unsplash.com/collection/582659/17" style="width:100%">
  </div>
  <div class="column">
    <img src="https://source.unsplash.com/collection/582659/5" style="width:100%">
    <img src="https://source.unsplash.com/collection/582659/6" style="width:100%">
    <img src="https://source.unsplash.com/collection/582659/7" style="width:100%">
    <img src="https://source.unsplash.com/collection/582659/8" style="width:100%">
    <img src="https://source.unsplash.com/collection/582659/18" style="width:100%">
  </div>  
  <div class="column">
    <img src="https://source.unsplash.com/collection/582659/9" style="width:100%">
    <img src="https://source.unsplash.com/collection/582659/10" style="width:100%">
    <img src="https://source.unsplash.com/collection/582659/11" style="width:100%">
    <img src="https://source.unsplash.com/collection/582659/12" style="width:100%">
    <img src="https://source.unsplash.com/collection/582659/19" style="width:100%">
  </div>
  <div class="column">
    <img src="https://source.unsplash.com/collection/582659/13" style="width:100%">
    <img src="https://source.unsplash.com/collection/582659/14" style="width:100%">
    <img src="https://source.unsplash.com/collection/582659/15" style="width:100%">
    <img src="https://source.unsplash.com/collection/582659/16" style="width:100%">
    <img src="https://source.unsplash.com/collection/582659/20" style="width:100%">
  </div>
 
</div>




